
    // PRIMARY //
$clr-100 : hsl(0, 100%, 74%);
$clr-200 : #22845a ;
    // ACCENT //
$clr-300 : hsl(248, 32%, 49%);
    // NEUTRAL //
$clr-400 : hsl(249, 10%, 26%);
$clr-500 : #716f82;
$clr-600 : hsl(154, 72%, 33%);


$ff-1 : 'Poppins', sans-serif;

$fs-1 : 1rem ;

$fw-1 : 100; $fw-2 : 200; $fw-3 : 300; $fw-4 : 400; $fw-5 : 500; $fw-6 : 600; $fw-7 : 700; $fw-8 : 800; $fw-9 : 900;

$flx : flex; $grd : grid ;
$cntr : center; $strt : start; $end : end; $btwn : space-between; $arnd : space-around; $evnly : space-evenly;

